/*Common Css Start Here*/
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
/*Common Css Start Here*/
/*Header CSS Start Here*/
header {
    padding: 10px 0px;
}
.wrapper_all {
    margin: 0 auto;
    width: 75%;
    /*border: 1px solid red;*/
    overflow: hidden;
}
.head_wrapper {
    /*border: 1px solid royalblue;*/
    width: 100%;
    height: auto;
}
.logo {
    /*border: 1px solid red;*/
    width: 21%;
    float: left;
}
.logo img {
    width: 100%;
}
.menu {
    /*border: 1px solid red;*/
    width: 68%;
    float: right;
    margin-top: 1px;
}
.menu ul {
    float: right;
}
.menu ul li {
    list-style: none;
    float: left;
}
.menu ul li a {
    text-decoration: none;
    font-size: 12px;
    color: black;
    padding: 15px 12px;
    transition: 1s;
}
.menu ul li a:hover {
    background-color: grey;
    cursor: pointer;
    transition: 1s;
    color: white;
}
.menu ul li:last-child a {}
/*Header CSS End Here*/

/*Banner CSS Start Here */
#banner {}
.full_banner {
    width: 100%;
    height: 500px;
    background-image: url("../image/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.banner_h1 {
    width: 49%;
    /*border: 1px solid red;*/
    font-size: 34px;
    color: white;
}
.banner_h1 h1 {
	margin: 0;
}
.b_firsttext {
    color: white;
    margin: 0px;
}
.b_secondtext {
    color: white;
    margin: 0px;
    line-height: 0;
}
.p_button {
    background-color: #bf2241;
    width: 27%;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    transition: 2s;
}
.p_button:hover {
	transition: 1s;
	cursor: pointer;
	background-color: #0a963b;
    width: 27%;
    font-size: 16px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
}
/*Banner CSS End Here */

/*Work CSS Start Here*/
#how_it_works {
    padding: 50px 0px;
}
.work_content {
    width: 69%;
    text-align: center;
    /*border: 1px solid green;*/
    margin: 0 auto;
}
.work_h1 {}
.work_text {}
.work_list_content {
    /*border: 1px solid #31200f;*/
    overflow: hidden;
    width: 85%;
    margin: 0 auto;
    padding: 45px 0;
}
.Comm_box {
    width: 28.36%;
    /*border: 1px solid blueviolet;*/
    text-align: center;
    font-size: 14px;
    float: left;
    margin-right: 57px;
}
.Comm_box:last-child {
	margin-right: 0;
}
.list_img {}
.list_img img {}
.Comm_box_text {}
/*Work CSS End Here*/

/*Process CSS Start Here */
#process {
    background-color: #eee8e9;
    padding: 60px 0px;
}
.process_content {}
.pro_left {
    /*border: 1px solid orangered;*/
    width: 48%;
    float: left;
    margin-top: 26px;
}
.left_h1 {
    font-size: 25px;
    text-transform: uppercase;
}
.left_text {
    width: 90%;
}
.left_button {
    width: 24%;
    background-color: #bf2241;
    color: white;
    font-size: 16px;
    padding: 15px 18px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: 1s;
}
.left_button:hover {
    cursor: pointer;
    background-color: #0a963b;
    transition: 1s;
}
.pro_right {
    /*border: 1px solid orangered;*/
    width: 49%;
    float: right;
    overflow: hidden;
}
.vedio_content {
    float: right;
}
/*Process CSS End Here */

/*features css start here */
#features {}
.features_content {
    width: 69%;
    text-align: center;
    /* border: 1px solid green; */
    margin: 0 auto;
    padding: 40px 0px;
}
.work_h1 {}
.work_text {}
/*Feature Box Content CSS Start Here */
.box_content {
    /*border: 1px solid red;*/
}
.box_wrapper1 {
    /*border: 1px solid #005aff;*/
    overflow: hidden;
}
.box_wrapper2 {
    /*border: 1px solid #005aff;*/
    overflow: hidden;
    margin-top: 25px;
}
.single_box {
    border: 1px solid #eae7e7;
    width: 29%;
    padding: 25px 10px;
    float: left;
    margin-right: 28px;
}
.last_child {
    margin-right: 0px;
}

.box_icon {
    margin: 0 auto;
    width: 90%;
    /*border: 1px solid red;*/
    width: 20%;
}
.box_icon img {
    width: 100%;
}
.box_h2 {
    margin: 0 auto;
}
.box_h2 h2 {
    text-align: center;
    font-size: 20px;
}
.box_text {
    margin: 0 auto;
}
.box_text p {
    text-align: center;
    line-height: 22px;
}
/*Feature Box Content CSS End Here */

.f_bttn_area {
    padding: 85px 0px;
    text-align: center;
}
.f_bttn_text {
    width: 17%;
    padding: 10px 15px;
    text-align: center;
    color: #be223d;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 8px;
    border: 3px solid #f3f3f4;
    box-shadow: 0px 0px 8px -2px black;
    display: inline-block;
    margin: 0 auto;
    transition: 1s;
}
.f_bttn_text:hover {
    cursor: pointer;
    background-color: #0a963b;
    border: 3px solid #0a963b;
    color: white;
    transition: 1s;
}
/*features css end here */

/*Contact CSS Start Here */
#contact {
    background-color: black;
    padding: 75px 0px;
}
.contact_wrapper {
    float: left;
    width: 33.12%;
    /*border: 1px solid green;*/
    margin-right: 0px;
}
.contact_wrapper:last-child {
    margin-right: 0;
}
.c_box {
    /*border: 1px solid green;*/
}
.con_h2 {
    /*border: 1px solid red;*/
    color: #bf2241;
}
.con_details {
    /*border: 1px solid green;*/
}
.icon_text {
    /*border: 1px solid red;*/
}
.c_icon {
    float: left;
    width: 5%;
    /*border: 1px solid red;*/
    margin-right: 10px;
}
.c_icon img {
    width: 100%;
}
.c_text {
    float: left;
    /* border: 1px solid red; */
    font-size: 13px;
    margin: 3px 0px 0px 0px;
    color: white;
}
.c_fline {
    /* border: 1px solid green; */
    overflow: hidden;
    margin: 10px 0px;
}
.social_icon {
    /*border: 1px solid red;*/
    overflow: hidden;
    margin-top: 40px;
}
.icon_box {
    width: 10%;
    float: left;
    margin-right: 20px;
}
.icon_box img {
    width: 100%;
}

.useful_link {
    margin: 0px;
}
.use_ul {
    margin-left: -20px;
}
.use_li {
    list-style: disc;
    color: white;
    line-height: 28px;
    margin: 0px;
}
.use_li a {
    font-size: 13px;
    color: white;
    text-decoration: none;
}
.news_text {
    color: white;
    font-size: 13px;
    margin-bottom: 43px;
}
.subscripe_button {}
.mail_inp {
    padding: 15px 19px;
    background-color: black;
    border: 3px solid white;
    color: white;
}
.sub_inp {
    padding: 18px 23px;
    background-color: #bf2241;
    color: white;
    border-style: none;
    margin-left: -4px;
}
.sub_inp:hover {
    cursor: pointer;
}
/*Contact CSS Start Here */

/*Footer CSS Start Here */
#footer {
    background-color: grey;
    margin: 0px;
    padding: 25px;
}
.footer_text {
    text-align: center;
    font-size: 13px;
    color: white;
}
/*Footer CSS End Here */